.App {
  text-align: center;
  justify-content: space-evenly;

  color: white;
}

.back{
  display: flex;
  justify-content: center;
  background-color: black;

}
/* write your parent styles in here for your App.js */
